.Header {

    /*background-color: #2D111C ; */
    height: 93vh;
    background-image: linear-gradient(#2D111Cc5, #2D111Cc5) ,url(../../assets/images/header_image.jpg);
    background-size: cover;
    background-position: center;

    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding: 1rem;
    
    position: relative;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 5rem;
    grid-template-columns: repeat(8, 1fr);


}

.Header_Title {
    grid-column : 2 / 4;
    grid-row: 1 / 3;
    align-self: center;

}

.Header_SubTitle {
    grid-column : 2 / 4;
    grid-row: 3 / 6

}

.Header_Button {
    grid-column : 2 / 4;
    grid-row: 6 / 7;
    align-self: center;

    width: 100%;
    height: 80%;
    border-radius: 6%;
    border: 1px solid #000000;
    box-shadow: 0 1px 2px #111;
    background-color: #DDC8C4;
    


    font-size: 1.75rem;
    text-transform: uppercase;
    color: #EFF9F0;

    transition: all .2s;
    


}

.Header_Button:hover {
    transform: translateY(-1rem);
    box-shadow: 0 2px 3px #111;
    filter: brightness(85%);
    cursor: pointer;

}

.Image_2 {
    grid-column: 4 / 7;
    grid-row: 5/7;
    width: 40%;
    align-self: center;
    justify-self: center;
    box-shadow: 0 4px 6px #111;

}

.Image_1 {
    grid-column: 5 / 7;
    grid-row: 5/7;
    align-self: center;
    justify-self: center;
    width: 70%;
    position: absolute;
    transform: translateY( 10rem);
    box-shadow: 0 4px 6px #111;

}

.Image_3 {
    grid-column: 6 / 8;
    grid-row: 3/5;
    align-self: center;
    justify-self: center;
    position: absolute;
    transform:translate(-5rem, 10rem);
    width: 70%;
    box-shadow: 0 4px 6px #111;

}