.Recipe {
    border: 1px solid #000;
    box-shadow: 0 2px 3px #111;
    text-align: center;
}

/*
.Recipe:hover {
    background-color: darkgreen;
}
*/

.RecipeId {
    display: grid;
    grid-template-rows: 3rem 30rem 3rem;
    grid-template-columns: 1fr;
    position: relative;
}

.RecipeId:hover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.507);
    z-index: 1;
   
}

.Recipe_Name {
    background-color: rgb(8, 8, 8);
    grid-row: 1 / 2;
    grid-column: 1/-1;
}

.Recipe_Figure {
    grid-row: 2/3;
    grid-column: 1/-1;
}

.Recipe_Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
   
}


.Recipe_Description {
    grid-row: 2/3;
    grid-column: 1/-1;
    content: " ";
    position: absolute;
    z-index: 1;
    
}

.Recipe_BlurBackground {
    grid-row: 2/3;
    grid-column: 1 / -1;
}

.Recipe_Description:hover{
}

.Recipe_Characteristics {
    background-color: rgb(8, 8, 8);
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:1rem


    
}
.Recipe_Time {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
    background-color: teal;
    
}

.Recipe_Star {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
    background-color: teal;
}

.Recipe_Time_SVG {
    width: 2rem;
    height: 2rem;

    transform: translateX(2rem);
}
.Recipe_Time_Text {
    transform: translateX(2rem);

}

.Recipe_Star_SVG {
    width: 2rem;
    height: 2rem;

    transform: translateX(2rem);
}

.Recipe_Star_Text {
   transform: translateX(2rem);

}