.Recipe {

    background-color: #6B4D57;

    border: 1px solid #000;

    box-shadow: 0 2px 3px #111;
    text-align: center;
    
    /*
    width: 23% ;
    text-align: center;
    margin : 2%;
    padding-top : 16px;
    padding-bottom: 16px;
    display: inline-block;
    */
}

.Recipe:hover {
    background-color: darkgreen;
}

.RecipeId {
    display: grid;
    grid-template-rows: 3rem 30rem 3rem;
    grid-template-columns: 1fr;
    grid-gap:1rem;
}

.Recipe_Name {
    background-color: darkgoldenrod;
    grid-row: 1 / 2;
    grid-column: 1/-1;

}

.Recipe_Figure {
    grid-row: 2/3;
    grid-column: 1/-1;
}

.Recipe_Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    

}
.Recipe_Description {
    grid-row: 2/3;
    grid-column: 1/-1;

}

.Recipe_Characteristics {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:1rem


    
}
.Recipe_Time {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
    transform: translateX(2rem);
}

.Recipe_Star {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
    transform: translateX(2rem);
}

.Recipe_Time_SVG {
    fill:rgb(54, 35, 11);
    width: 2rem;
    height: 2rem;

}
.Recipe_Time_Text {
    transform: translateX(2rem);

}

.Recipe_Star_SVG {
    fill:rgb(54, 35, 11);
    width: 2rem;
    height: 2rem;
}

.Recipe_Star_Text {
   transform: translateX(2rem);

}


