.Recipes {

    background-color: #e8faec;

    display : grid;

    grid-template-columns: min-content min-content;
    grid-template-rows: repeat(3, minmax(max-content) 1fr);
    justify-content: space-evenly;
    grid-row-gap:7rem;
    grid-column-gap:3rem;
    padding : 2rem;
    

}