.NavigationBar {

    background-color: #2D111C ;

    grid-row : 1 / 2;
    grid-column: 1 / -1;

}

.Nav {
    list-style: none;
    display : grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}

.Nav_Link:link,
.Nav_Link:visited {
    font-size : 2rem;
    text-decoration: none;
    color : white;
    text-transform: uppercase;
    padding: 1.5rem;
    display: block;
    transition: all .2s;

}

.Nav_Link:hover,
.Nav_Link:active {
    background-color: #3B1625;
    transform: translateY(-0.3rem);
}
