
/*

/////////////////////////////////////////////
Color palette:

  #EFF9F0 : Mint Cream
  #DDC8C4 : Champagne Pink
  #A78D8B : Cinereus
  #6B4D57 : Eggplant
  #2D111C : Xiketic
  #44633F : Hunter Green
  #5A9367 : Russian Green
  #243E36 : MSU Green

/////////////////////////////////////////////
*/



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

h2 {
  font-size: 2rem;
  /*color: thistle;*/
  color : white;
}

h1 {
  font-size: 5rem;
  color: #EFF9F0;
}

h3 {
  font-size: 2.5rem;
  color: #DDC8C4;
}